.grid {
   #robot {
    height: 80px;
    position: absolute;
    transition: 1s;
  }
  .row {
    border: 1px solid rgb(187, 187, 187);
    height: 120px;
    display: flex;
    width: 600px;

    .box {
      border: 1px solid rgb(187, 187, 187);
      height: 120px;
      width: 120px;
    }
  }

  .row-2, .row-3, .row-4, .row-5 .box {
      border-top: none;
  }

  .row-5 {
    border-bottom: 2px solid rgb(187, 187, 187);
  }

   .down {
    transform: rotate(0deg);
  }

  .up {
    transform: rotate(0deg);
    transform: rotate(180deg);
  }

  .left {
    transform: rotate(0deg);
    transform: rotate(90deg);
  }

  .right {
    transform: rotate(0deg);
    transform: rotate(-90deg);
  }

  .Y-1 {
    top: 40px;
  }

  .Y-2 {
    top: 160px;
  }

  .Y-3 {
    top: 280px;
  }

  .Y-4 {
    top: 400px;
  }

  .Y-5 {
    top: 520px;
  }

  .X-1 {
    left: 40px;
  }

  .X-2 {
    left: 160px;
  }

  .X-3 {
    left: 280px;
  }

  .X-4 {
    left: 400px;
  }

  .X-5 {
    left: 520px;
  }
}