.controls {
  top: 614px;
  left: 206px;
  position: absolute;

  .go {
    background-color: rgb(255, 40, 57);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  button {
    border: none;
    -webkit-box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.55);
    box-shadow: 10px 10px 22px -8px rgba(0,0,0,0.55);
    transition: .5s;

    &:active {
      transform: translate(2px, 4px);
    }

    &:focus {
      outline:0;
    }
  }

  .directions button {
    border-radius: 4px;
    color: white;
    background-color: rgb(23, 142, 211);
    font-size: 2em;
  }

  .left-btn {
    position: relative;
    top: 62px;
    left: 35px;
    padding: 17px 10px;
  }

  .up-btn {
    position: relative;
    top: 6px;
    left: 37px;
    padding: 1px 23px;
  }

  .right-btn {
    position: relative;
    top: 62px;
    left: 40px;
    padding: 17px 10px;
  }

  .down-btn {
    position: relative;
    top: 117px;
    left: -77px;
    padding: 1px 23px;
  }

  @media screen and (max-width: 433px) {
    top: 571px;
    left: 211px;

    .left-btn {
      top: 104px;
      left: 1px;
    }

    .up-btn {
      top: 47px;
      left: 2px; 
    }

    .right-btn {
      top: 104px;
      left: 3px;

    }

    .down-btn {
      top: 106px;
      left: 2px;
    }
  }
}